body {
    background-image: <bg-image>;
  }
  
  /* Estilo para las etiquetas de tipo h1 */
  h1 {
    color:rgb(165, 128, 7);
    font-family:'Times New Roman', Times, serif;
    font-size:  xxx-large;
  

    h3 {
      color:rgb(165, 128, 7);
      font-family:'Times New Roman', Times, serif;
      font-size:  xx-large;
  
      
  /* Estilo para los párrafos */
  p {
    color: blue;
  }


